:root {
    --button-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  }
  :root {
    --s2: 0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0px 0px 6px 0px rgba(0, 0, 0, 0.06);
    --button-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  }
  
    